In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

%matplotlib inline

In [2]:
business = pd.read_csv('fiuba_4_postulaciones.csv')
business.head()

      idaviso idpostulante     fechapostulacion
0  1112257047         NM5M  2018-01-15 16:22:34
1  1111920714         NM5M  2018-02-06 09:04:50
2  1112346945         NM5M  2018-02-22 09:04:47
3  1112345547         NM5M  2018-02-22 09:04:59
4  1112237522         5awk  2018-01-25 18:55:03

In [3]:
business = pd.read_csv('fiuba_4_postulaciones.csv')
business.head()

      idaviso idpostulante     fechapostulacion
0  1112257047         NM5M  2018-01-15 16:22:34
1  1111920714         NM5M  2018-02-06 09:04:50
2  1112346945         NM5M  2018-02-22 09:04:47
3  1112345547         NM5M  2018-02-22 09:04:59
4  1112237522         5awk  2018-01-25 18:55:03

In [4]:
business_index = business.index
business_columns = business.columns
business_data = business.values

In [5]:
business.dtypes

idaviso              int64
idpostulante        object
fechapostulacion    object
dtype: object

In [6]:
business.isnull().any()

idaviso             False
idpostulante        False
fechapostulacion    False
dtype: bool

In [7]:
business['fechapostulacion'].describe()

count                 3401623
unique                1940105
top       2018-01-17 07:03:36
freq                       25
Name: fechapostulacion, dtype: object

In [8]:
business['fechapostulacion'] = pd.to_datetime(business['fechapostulacion'])
business.dtypes

idaviso                      int64
idpostulante                object
fechapostulacion    datetime64[ns]
dtype: object

In [ ]:
business['fechapostulacion'].dt.weekday_name.mean()

In [ ]:
business.dtypes

In [ ]:
business.dtypes

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

%matplotlib inline

In [2]:
business = pd.read_csv('fiuba_4_postulaciones.csv')
business.head()

      idaviso idpostulante     fechapostulacion
0  1112257047         NM5M  2018-01-15 16:22:34
1  1111920714         NM5M  2018-02-06 09:04:50
2  1112346945         NM5M  2018-02-22 09:04:47
3  1112345547         NM5M  2018-02-22 09:04:59
4  1112237522         5awk  2018-01-25 18:55:03

In [3]:
business_index = business.index
business_columns = business.columns
business_data = business.values

In [4]:
business.isnull().any()

idaviso             False
idpostulante        False
fechapostulacion    False
dtype: bool

In [5]:
business['fechapostulacion'] = pd.to_datetime(business['fechapostulacion'])

In [6]:
business

            idaviso idpostulante    fechapostulacion
0        1112257047         NM5M 2018-01-15 16:22:34
1        1111920714         NM5M 2018-02-06 09:04:50
2        1112346945         NM5M 2018-02-22 09:04:47
3        1112345547         NM5M 2018-02-22 09:04:59
4        1112237522         5awk 2018-01-25 18:55:03
5        1112277633         5awk 2018-01-29 13:34:44
6        1112302347         5awk 2018-02-07 20:49:22
7        1112291495         5awk 2018-02-07 20:50:13
8        1112304011         5awk 2018-02-07 20:51:15
9        1112326289         5awk 2018-02-09 20:24:57
10       1112303543         5awk 2018-02-18 23:49:34
11       1112315393         5awk 2018-02-19 00:01:20
12       1112315188         5awk 2018-02-28 15:54:28
13       1112346738         5awk 2018-02-28 15:54:47
14       1112330625         5awk 2018-02-28 15:56:43
15       1112306543         5awk 2018-02-28 15:57:35
16       1112315170         5awk 2018-02-28 15:59:14
17       1111799928         5awk 2018-02-28 16:00:06
18       1112323355         5awk 2018-02-28 16:00:41
19       1112305358         5awk 2018-02-28 16:02:15
20       1112286523         ZaO5 2018-01-24 15:07:39
21       1112272060         ZaO5 2018-01-24 15:20:10
22       1112288401         ZaO5 2018-01-26 08:37:04
23       1112300563         ZaO5 2018-01-30 13:35:48
24       1112293018         ZaO5 2018-01-31 08:41:05
25       1112301287         ZaO5 2018-01-31 08:55:20
26       1112309589         ZaO5 2018-02-03 15:55:15
27       1112317020         ZaO5 2018-02-07 09:56:22
28       1112322363         ZaO5 2018-02-09 10:29:54
29       1112327122         ZaO5 2018-02-11 17:49:26
...             ...          ...                 ...
3401593  1112345347      PmGP9vJ 2018-02-28 23:52:11
3401594  1112357658      PmGP9vJ 2018-02-28 23:58:12
3401595  1112368250      GNZqAaE 2018-02-28 23:18:45
3401596  1112368750      GNZqAaE 2018-02-28 23:24:13
3401597  1111413600      GNZqAaE 2018-02-28 23:25:09
3401598  1112348533      6rPEvzO 2018-02-28 23:27:25
3401599  1112369306      ow2p8Z0 2018-02-28 23:23:36
3401600  1112367705      ow2p8Z0 2018-02-28 23:23:57
3401601  1112366909      ow2p8Z0 2018-02-28 23:26:49
3401602  1112349451      vVja4x5 2018-02-28 23:27:05
3401603  1112318545      vVja4x5 2018-02-28 23:28:08
3401604  1112354215      vVja4x5 2018-02-28 23:42:56
3401605  1112368214      6rPEver 2018-02-28 23:54:35
3401606  1112349559      6rPEver 2018-02-28 23:56:19
3401607  1112165615      6rPEver 2018-02-28 23:57:03
3401608  1112369739      1QPMbX3 2018-02-28 23:41:51
3401609  1111732991      1QPMbX3 2018-02-28 23:45:56
3401610  1112350030      1QPMbX3 2018-02-28 23:47:27
3401611  1112366913      1QPMbX3 2018-02-28 23:48:49
3401612  1112366611      1QPMbX3 2018-02-28 23:50:42
3401613  1112334662      1QPMbX3 2018-02-28 23:56:53
3401614  1112354320      1QPMbX3 2018-02-28 23:57:22
3401615  1112360579      1QPMbX3 2018-02-28 23:58:32
3401616  1112359520      1QPMbX3 2018-02-28 23:59:34
3401617  1112344822      0zPa0eq 2018-02-28 23:49:46
3401618  1111753681      0zPa0eq 2018-02-28 23:54:44
3401619  1112369306      2zP6Jd0 2018-02-28 23:57:43
3401620  1112308651      8MPoxDW 2018-02-28 23:52:13
3401621  1112341128      8MPoxDW 2018-02-28 23:59:06
3401622  1112369825      2zP6J9V 2018-02-28 23:56:10

[3401623 rows x 3 columns]

In [7]:
business['fechapostulacion'].dt.weekday_name

0             Monday
1            Tuesday
2           Thursday
3           Thursday
4           Thursday
5             Monday
6          Wednesday
7          Wednesday
8          Wednesday
9             Friday
10            Sunday
11            Monday
12         Wednesday
13         Wednesday
14         Wednesday
15         Wednesday
16         Wednesday
17         Wednesday
18         Wednesday
19         Wednesday
20         Wednesday
21         Wednesday
22            Friday
23           Tuesday
24         Wednesday
25         Wednesday
26          Saturday
27         Wednesday
28            Friday
29            Sunday
             ...
3401593    Wednesday
3401594    Wednesday
3401595    Wednesday
3401596    Wednesday
3401597    Wednesday
3401598    Wednesday
3401599    Wednesday
3401600    Wednesday
3401601    Wednesday
3401602    Wednesday
3401603    Wednesday
3401604    Wednesday
3401605    Wednesday
3401606    Wednesday
3401607    Wednesday
3401608    Wednesday
3401609    Wednesday
3401610    Wednesday
3401611    Wednesday
3401612    Wednesday
3401613    Wednesday
3401614    Wednesday
3401615    Wednesday
3401616    Wednesday
3401617    Wednesday
3401618    Wednesday
3401619    Wednesday
3401620    Wednesday
3401621    Wednesday
3401622    Wednesday
Name: fechapostulacion, Length: 3401623, dtype: object

In [8]:
business['fechapostulacion'] = business['fechapostulacion'].dt.weekday_name

In [9]:
business

            idaviso idpostulante fechapostulacion
0        1112257047         NM5M           Monday
1        1111920714         NM5M          Tuesday
2        1112346945         NM5M         Thursday
3        1112345547         NM5M         Thursday
4        1112237522         5awk         Thursday
5        1112277633         5awk           Monday
6        1112302347         5awk        Wednesday
7        1112291495         5awk        Wednesday
8        1112304011         5awk        Wednesday
9        1112326289         5awk           Friday
10       1112303543         5awk           Sunday
11       1112315393         5awk           Monday
12       1112315188         5awk        Wednesday
13       1112346738         5awk        Wednesday
14       1112330625         5awk        Wednesday
15       1112306543         5awk        Wednesday
16       1112315170         5awk        Wednesday
17       1111799928         5awk        Wednesday
18       1112323355         5awk        Wednesday
19       1112305358         5awk        Wednesday
20       1112286523         ZaO5        Wednesday
21       1112272060         ZaO5        Wednesday
22       1112288401         ZaO5           Friday
23       1112300563         ZaO5          Tuesday
24       1112293018         ZaO5        Wednesday
25       1112301287         ZaO5        Wednesday
26       1112309589         ZaO5         Saturday
27       1112317020         ZaO5        Wednesday
28       1112322363         ZaO5           Friday
29       1112327122         ZaO5           Sunday
...             ...          ...              ...
3401593  1112345347      PmGP9vJ        Wednesday
3401594  1112357658      PmGP9vJ        Wednesday
3401595  1112368250      GNZqAaE        Wednesday
3401596  1112368750      GNZqAaE        Wednesday
3401597  1111413600      GNZqAaE        Wednesday
3401598  1112348533      6rPEvzO        Wednesday
3401599  1112369306      ow2p8Z0        Wednesday
3401600  1112367705      ow2p8Z0        Wednesday
3401601  1112366909      ow2p8Z0        Wednesday
3401602  1112349451      vVja4x5        Wednesday
3401603  1112318545      vVja4x5        Wednesday
3401604  1112354215      vVja4x5        Wednesday
3401605  1112368214      6rPEver        Wednesday
3401606  1112349559      6rPEver        Wednesday
3401607  1112165615      6rPEver        Wednesday
3401608  1112369739      1QPMbX3        Wednesday
3401609  1111732991      1QPMbX3        Wednesday
3401610  1112350030      1QPMbX3        Wednesday
3401611  1112366913      1QPMbX3        Wednesday
3401612  1112366611      1QPMbX3        Wednesday
3401613  1112334662      1QPMbX3        Wednesday
3401614  1112354320      1QPMbX3        Wednesday
3401615  1112360579      1QPMbX3        Wednesday
3401616  1112359520      1QPMbX3        Wednesday
3401617  1112344822      0zPa0eq        Wednesday
3401618  1111753681      0zPa0eq        Wednesday
3401619  1112369306      2zP6Jd0        Wednesday
3401620  1112308651      8MPoxDW        Wednesday
3401621  1112341128      8MPoxDW        Wednesday
3401622  1112369825      2zP6J9V        Wednesday

[3401623 rows x 3 columns]

In [11]:
business.groupby('fechapostulacion')['fechapostulacion']

In [12]:
business.groupby('fechapostulacion')['fechapostulacion'].mean()

DataError: No numeric types to aggregate

In [13]:
business.groupby('fechapostulacion')['fechapostulacion']

In [14]:
business.groupby('fechapostulacion')

In [15]:
business.groupby('fechapostulacion')['fechapostulacion'].count()

fechapostulacion
Friday       446698
Monday       668310
Saturday     217331
Sunday       226857
Thursday     506163
Tuesday      658428
Wednesday    677836
Name: fechapostulacion, dtype: int64